.h1_title1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-title-1);
    font-size: var(--font-size-title-1);
    line-height: var(--line-height-title-1);
}


.h2_title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-title-2);
    font-size: var(--font-size-title-3);
    line-height: var(--line-height-title-3);
}


.h2_title3 {
    font-family: Arial, sans-serif;
    font-weight: var(--font-weight-title-2);
    font-size: var(--font-size-title-2);
    line-height: var(--line-height-title-2);
    text-align: center;
}


.h3_title4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-title-2);
    font-size: var(--line-height-text-2);
    line-height: var(--line-height-title-3);
}


.h3_title5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-title-2);
    font-size: var(--font-size-text-1);
    line-height: var(--line-height-title-3);
}


.h2_title6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-title-2);
    font-size: var(--font-size-title-3);
    line-height: var(--line-height-title-3);
}


.h3_title7 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-title-2);
    font-size: var(--font-size-title-3);
    line-height: var(--line-height-title-3);
}


.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text1 {
    font-family: Arial, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text2 {
    font-family: Arial, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text7 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.text8 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var(--font-size-text-3);
    line-height: var(--line-height-text-3);
}


.span2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var( --font-size-text-3);
    line-height: var(--line-height-text-3);
}


.span3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-text-1);
    font-size: var( --font-size-text-3);
    line-height: var(--line-height-text-3);
}
